[user]
	name = Tom van der Lee
[alias]
	glog = log --graph --decorate --all --pretty=format:%C(yellow)%h%C(bold\\ red)%d%C(reset)\\ %s%n%C(green)%ar\\ %C(reset)by\\ %C(bold\\ blue)%an%n
	sup = "!f() { git branch --set-upstream-to=$@; }; f"
	ca = commit -am
	st = status -s
	siu = "!f() { git submodule init && git submodule update; }; f"
	ls = ls-files
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
[push]
	default = matching
