[user]
	name = Tom van der Lee
[alias]
	glog = log --graph --oneline --decorate --all
	sup = "!f() { git branch --set-upstream-to=$@; }; f"
	ca = commit -am
	st = status -s
	siu = "!f() { git submodule init && git submodule update; }; f"
