[submodule "weechat/.weechat/downloads/weechat-vimode"]
	path = weechat/.weechat/downloads/weechat-vimode
	url = https://github.com/GermainZ/weechat-vimode
[submodule "vim/.vim/vim-plug"]
	path = vim/.vim/vim-plug
	url = https://github.com/junegunn/vim-plug
